.sidenav {
  height: 100%;
  width: 15%;
  align-items: center;
  text-align: center;
  position: fixed;
  float: left;
  bottom: -80px;
  background: #efc56f;;
  overflow-x: hidden;
 
}

.sidenav a {
  padding: 20px 17px 0px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  width: auto;
  height: auto;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.icon_main {
  max-width: 100%;
  max-height: 100%;
}
.main-icon {
  max-width: 150px;
  max-height: 100px;
  position: absolute;
  left: 15%;
  top: 18%;
}