.product-container {
  height: 100%;
  width: 62%;
  padding: 200px;
  float: right;
}

.product-container form {
  width: 100%;
  max-width: 300px;
  flex-direction: column;
}
.inputNameProduct {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 18px;
  height: 48px;
  padding: 0 49px;
  font-size: 16px;
  color: #666;
}
.inputCategoryProduct {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 18px;
  height: 48px;
  padding: 0 49px;
  font-size: 16px;
  color: #666;
}
.inputPrecoProduct {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 18px;
  height: 48px;
  padding: 0 49px;
  font-size: 16px;
  color: #666;
}
.inputFileProduct {
  margin-top: 20px;
  border: 1px solid #ddd;
  
}
.logo {
  max-width:300px;
  max-height:250px;
  width: auto;
  height: auto;
}
.imgButton {
  max-width:300px;
  max-height:250px;
  width: auto;
  height: auto;

}
.nameButtonProduct {
  position: absolute;
  top: 78%;
  right: 40%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  cursor: pointer;
}

.product-container form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  position: relative;

}